@import "tailwindcss";

@theme {
  --color-neo-yellow: #F4E04D;
  --color-neo-blue: #4D96FF;
  --color-neo-green: #6BCB77;
  --color-neo-red: #FF6B6B;
  --color-neo-brutal-bg: #FFF5E1;

  --shadow-neo: 4px 4px 0px 0px rgba(0,0,0,1);
  --shadow-neo-hover: 8px 8px 0px 0px rgba(0,0,0,1);
}

html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #FFF5E1;
}

@layer base {
  body {
    @apply text-black antialiased;
    font-family: 'Public Sans', sans-serif;
  }
}